<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="OxHack.Inventory.MobileClient" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Inventory" android:icon="@drawable/icon"></application>
</manifest>